@page "/home"

@using System.Globalization
@using BlzMauiApp.Services.Data;
@using Microsoft.JSInterop

@*@inject LoginDatabase _logindatabase*@

@inject IJSRuntime JSRuntime

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@

<AppHeader Title="Dashbard" />

<div class="page-content-wrapper">

    <!-- Welcome Toast -->
    <div class="toast toast-autohide custom-toast-1 toast-success home-page-toast" role="alert" aria-live="assertive"
         aria-atomic="true" data-bs-delay="7000" data-bs-autohide="true">
        <div class="toast-body">
            <i class="bi bi-bookmark-check text-white h1 mb-0"></i>
            <div class="toast-text ms-3 me-2">
                <p class="mb-1 text-white">Welcome to Benvue!</p>
                <small class="d-block">
                    Click the <strong>Add to Home Screen</strong> button &amp; enjoy it like an
                    app.
                </small>
            </div>
        </div>
        <button class="btn btn-close btn-close-white position-absolute p-1" type="button" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>

    <!-- Tiny Slider One Wrapper -->
    @*<div class="tiny-slider-one-wrapper">
    <div class="tiny-slider-one">
    <!-- Single Hero Slide -->
    <div>
    <div class="single-hero-slide bg-overlay" style="background-image: url('image/bg-img/31.jpg')">
    <div class="h-100 d-flex align-items-center text-center">
    <div class="container">
    <h3 class="text-white mb-1">Build with Bootstrap 5</h3>
    <p class="text-white mb-4">Build fast, responsive sites with Bootstrap.</p>
    <a class="btn btn-creative btn-warning" href="#">Buy Now</a>
    </div>
    </div>
    </div>
    </div>

    <!-- Single Hero Slide -->
    <div>
    <div class="single-hero-slide bg-overlay" style="background-image: url('image/bg-img/33.jpg')">
    <div class="h-100 d-flex align-items-center text-center">
    <div class="container">
    <h3 class="text-white mb-1">Vanilla JavaScript</h3>
    <p class="text-white mb-4">The whole code is written with vanilla JS.</p>
    <a class="btn btn-creative btn-warning" href="#">Buy Now</a>
    </div>
    </div>
    </div>
    </div>

    <!-- Single Hero Slide -->
    <div>
    <div class="single-hero-slide bg-overlay" style="background-image: url('image/bg-img/32.jpg')">
    <div class="h-100 d-flex align-items-center text-center">
    <div class="container">
    <h3 class="text-white mb-1">PWA Ready</h3>
    <p class="text-white mb-4">Click the "Add to Home Screen" button &amp; <br> enjoy it like an app.</p>
    <a class="btn btn-creative btn-warning" href="#">Buy Now</a>
    </div>
    </div>
    </div>
    </div>

    <!-- Single Hero Slide -->
    <div>
    <div class="single-hero-slide bg-overlay" style="background-image: url('image/bg-img/33.jpg')">
    <div class="h-100 d-flex align-items-center text-center">
    <div class="container">
    <h3 class="text-white mb-1">Lots of Elements &amp; Pages</h3>
    <p class="text-white mb-4">Create your website in days, not months.</p>
    <a class="btn btn-creative btn-warning" href="#">Buy Now</a>
    </div>
    </div>
    </div>
    </div>

    <!-- Single Hero Slide -->
    <div>
    <div class="single-hero-slide bg-overlay" style="background-image: url('image/bg-img/1.jpg')">
    <div class="h-100 d-flex align-items-center text-center">
    <div class="container">
    <h3 class="text-white mb-1">Dark &amp; RTL Ready</h3>
    <p class="text-white mb-4">You can use the Dark or <br> RTL mode of your choice.</p>
    <a class="btn btn-creative btn-warning" href="#">Buy Now</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>*@

    <div class="pt-3"></div>

    <div class="container direction-rtl" style="display:none;">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/pwa.png" alt="">
                            </div>
                            <p class="mb-0">PWA Ready</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/bootstrap.png" alt="">
                            </div>
                            <p class="mb-0">Bootstrap 5</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/js.png" alt="">
                            </div>
                            <p class="mb-0">Vanilla JS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="display:none;">
        <div class="card">
            <div class="card-body direction-rtl p-4">
                <h2 class="text-white">Reusable elements</h2>
                <p class="mb-4 text-white">
                    More than 220+ reusable modern design elements. Just copy the code and paste it on
                    your desired page.
                </p>
                <a class="btn btn-warning" href="elements.html">All elements</a>
            </div>
        </div>
    </div>

    <div class="bg-info text-white" @ref="divElement"></div>
    <div class="container">
        <div class="card">
            @*<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="my-4">
            Chart pie series
            </RadzenText>*@
            <div class="card-body">
                <RadzenCard Class="w-100 mb-4">
                    <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Show Data Labels" For="dataLabels" Style="margin-left: 8px; vertical-align: middle;" />
                </RadzenCard>
                <RadzenChart SeriesClick=@OnSeriesClick>
                    <RadzenPieSeries Data="@revenue" Title="Revenue" CategoryProperty="Quarter" ValueProperty="Revenue">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenPieSeries>
                </RadzenChart>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body direction-rtl p-4">
                <RadzenCard Class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem">
                    <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox>
                    <RadzenLabel Text="Smooth" For="smooth" Style="margin-right: 1rem;" />
                    <RadzenCheckBox @bind-Value="@showDataLabels2" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Show Data Labels" For="dataLabels" />
                </RadzenCard>
                <RadzenChart>
                    <RadzenLineSeries Smooth="@smooth" Data="@revenue2019" CategoryProperty="Date" Title="2019" LineType="LineType.Dashed" ValueProperty="Revenue">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels2" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="@smooth" Data="@revenue2020" CategoryProperty="Date" Title="2020" ValueProperty="Revenue">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels2" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>

    <div class="container direction-rtl" style="display:none;">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/sass.png" alt="">
                            </div>
                            <p class="mb-0">SCSS</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/npm.png" alt="">
                            </div>
                            <p class="mb-0">npm</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/gulp.png" alt="">
                            </div>
                            <p class="mb-0">Gulp 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="display:none;">
        <div class="card bg-primary mb-3 bg-img" style="background-image: url('image/core-img/1.png')">
            <div class="card-body direction-rtl p-4">
                <h2 class="text-white">Ready pages</h2>
                <p class="mb-4 text-white">
                    Already designed more than 100+ pages for your needs. Such as - Authentication,
                    Chats, eCommerce, Blog &amp; Miscellaneous pages.
                </p>
                <a class="btn btn-warning" href="pages.html">All Pages</a>
            </div>
        </div>
    </div>

    <div class="container direction-rtl" style="display:none;">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/dark.png" alt="">
                            </div>
                            <p class="mb-0">Dark Mode</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/rtl.png" alt="">
                            </div>
                            <p class="mb-0">RTL Ready</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/code.png" alt="">
                            </div>
                            <p class="mb-0">Easy Code</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="display:none;">
        <div class="card mb-3">
            <div class="card-body">
                <h3>Customer Review</h3>

                <div class="testimonial-slide-three-wrapper">
                    <div class="testimonial-slide3 testimonial-style3">

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <div class="text-content">
                                <span class="d-inline-block badge bg-warning mb-2">
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill"></i>
                                </span>
                                <h6 class="mb-2">The code looks clean, and the designs are excellent. I recommend.</h6>
                                <span class="d-block">Mrrickez, Themeforest</span>
                            </div>
                        </div>

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <div class="text-content">
                                <span class="d-inline-block badge bg-warning mb-2">
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill"></i>
                                </span>
                                <h6 class="mb-2">All complete, <br> great craft.</h6>
                                <span class="d-block">Mazatlumm, Themeforest</span>
                            </div>
                        </div>

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <div class="text-content">
                                <span class="d-inline-block badge bg-warning mb-2">
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill"></i>
                                </span>
                                <h6 class="mb-2">Awesome template! <br> Excellent support!</h6>
                                <span class="d-block">Vguntars, Themeforest</span>
                            </div>
                        </div>

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <div class="text-content">
                                <span class="d-inline-block badge bg-warning mb-2">
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill me-1"></i>
                                    <i class="bi bi-star-fill"></i>
                                </span>
                                <h6 class="mb-2">Nice modern design, <br> I love the product.</h6>
                                <span class="d-block">electroMEZ, Themeforest</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container direction-rtl" style="display:none;">
        <div class="card">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/star.png" alt="">
                            </div>
                            <p class="mb-0">Best Rated</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/elegant.png" alt="">
                            </div>
                            <p class="mb-0">Elegant</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <img src="image/demo-img/lightning.png" alt="">
                            </div>
                            <p class="mb-0">Trendsetter</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pb-3"></div>
</div>

@code {
    bool showDataLabels = false;
    LoginViewModel loginData = new LoginViewModel();

    //LoginDatabase loginDatabase = new LoginDatabase();
    private readonly LoginDatabase loginDatabase = new LoginDatabase();
    private string hasValue { get; set; }

    private ElementReference divElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetUserInfo();
            //hasValue = "Has Value. AfterRender";
            //hasValue = SecureStorage.Default.GetAsync("Name").ToString();

            ///loginData.Username.ToString();
            //await JSRuntime.InvokeVoidAsync("setText", divElement, "Text after render");
        }
    }

    void OnSeriesClick(SeriesClickEventArgs args)
    {
        //console.Log(args);
    }

    protected override Task OnInitializedAsync()
    {
        //hasValue = "Has Value. OnInit";
        //hasValue = SecureStorage.Default.GetAsync("Name").ToString();
        return base.OnInitializedAsync();

        //loginData.Username.ToString();


        // customers = dbContext.Customers.ToList();
    }


    private async void GetUserInfo()
    {
        var cusinfo = await loginDatabase.GetItemsAsync();
        if (cusinfo != null)
        {
            foreach (UserInfo lg in cusinfo)
            {
                if (!string.IsNullOrEmpty(lg.username))
                {
                    hasValue = "Has Value. AfterRender " + lg.username.ToString();
                }
            }
        }
    }

    class DataItem
    {
        public string Quarter { get; set; }
        public double Revenue { get; set; }
    }

    DataItem[] revenue = new DataItem[] {
        new DataItem
        {
            Quarter = "Q1",
            Revenue = 30000
        },
        new DataItem
        {
            Quarter = "Q2",
            Revenue = 40000
        },
        new DataItem
        {
            Quarter = "Q3",
            Revenue = 50000
        },
        new DataItem
        {
            Quarter = "Q4",
            Revenue = 80000
        },
    };


    /// Line Chart
    bool smooth = false;
    bool showDataLabels2 = false;

    class DataItem2
    {
        public string Date { get; set; }
        public double Revenue { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }

    string FormatAsMonth(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToString("MMM");
        }

        return string.Empty;
    }

    DataItem2[] revenue2019 = new DataItem2[] {
        new DataItem2
        {
            Date = ("2019-01-01"),
            Revenue = 234000
        },
        new DataItem2
        {
            Date = ("2019-02-01"),
            Revenue = 269000
        },
        new DataItem2
        {
            Date = ("2019-03-01"),
            Revenue = 233000
        },
        new DataItem2
        {
            Date = ("2019-04-01"),
            Revenue = 244000
        },
        new DataItem2
        {
            Date = ("2019-05-01"),
            Revenue = 214000
        },
        new DataItem2
        {
            Date = ("2019-06-01"),
            Revenue = 253000
        },
        new DataItem2
        {
            Date = ("2019-07-01"),
            Revenue = 274000
        },
        new DataItem2
        {
            Date = ("2019-08-01"),
            Revenue = 284000
        },
        new DataItem2
        {
            Date = ("2019-09-01"),
            Revenue = 273000
        },
        new DataItem2
        {
            Date = ("2019-10-01"),
            Revenue = 282000
        },
        new DataItem2
        {
            Date = ("2019-11-01"),
            Revenue = 289000
        },
        new DataItem2
        {
            Date = ("2019-12-01"),
            Revenue = 294000
        }
    };

    DataItem2[] revenue2020 = new DataItem2[] {
        new DataItem2
        {
            Date = ("2019-01-01"),
            Revenue = 334000
        },
        new DataItem2
        {
            Date = ("2019-02-01"),
            Revenue = 369000
        },
        new DataItem2
        {
            Date = ("2019-03-01"),
            Revenue = 333000
        },
        new DataItem2
        {
            Date = ("2019-04-01"),
            Revenue = 344000
        },
        new DataItem2
        {
            Date = ("2019-05-01"),
            Revenue = 314000
        },
        new DataItem2
        {
            Date = ("2019-06-01"),
            Revenue = 353000
        },
        new DataItem2
        {
            Date = ("2019-07-01"),
            Revenue = 374000
        },
        new DataItem2
        {
            Date = ("2019-08-01"),
            Revenue = 384000
        },
        new DataItem2
        {
            Date = ("2019-09-01"),
            Revenue = 373000
        },
        new DataItem2
        {
            Date = ("2019-10-01"),
            Revenue = 382000
        },
        new DataItem2
        {
            Date = ("2019-11-01"),
            Revenue = 389000
        },
        new DataItem2
        {
            Date = ("2019-12-01"),
            Revenue = 394000
        }
    };    ///
}